 

<EditForm Model="song" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="title">Song title:</label>
        <InputText id="title" @bind-Value="song.Title" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="artist">Artist:</label>
        <InputText id="artist" @bind-Value="song.Artist" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="album">Album:</label>
        <InputText id="album" @bind-Value="song.AlbumTitle" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="duration">Duration in seconds:</label>
        <InputNumber id="duration" @bind-Value="song.Duration" class="form-control"></InputNumber>
    </div>
    <div class="form-group">
        <label for="date">Date of release:</label>
        <InputDate id="date" @bind-Value="song.ReleaseDate" class="form-control"></InputDate>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</EditForm>


@code {

    [Parameter]
    public Song song { get; set; }
    
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

}
